body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form_ajouter_meubles{
    width: 50%;
    height: 75%;
    background-color: rgba(255, 255, 128, .5);
}

form.form_ajouter_meubles input, textarea{
    margin-bottom: 3%;
}

form.form_ajouter_meubles .premiere_partie{
    display: flex;
    flex-direction: column;
}

form.form_ajouter_meubles .seconde_partie{
    transition: transform 2s;
    display: none;
}

form.form_ajouter_meubles .premiere_partie .centrer_bouton{
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form_ajouter_meubles .premiere_partie .suivant{
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #21D3C3;
    border-radius: 100%;
}

form.form_ajouter_meubles .premiere_partie .suivant svg{
    width: 65%;
}