* {
    padding: Opx;
    margin: Opx;
    box-sizing: border-box;
    List-style: none;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: auto;
    height: 100vh;
    display: flex;
    text-align: center;
}

.menu {
    width: auto;
    position: fixed;
    top: 200px;
    left: 20px;
    background: #28464b79;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 10px solid white;
    border-bottom: 10px solid White;
}

.menu a:after {
    content: "";
    display: block;
    height: 3px;
    background: #42D9C8;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover:after {
    transform: scale(1);
}

.body {
    position: relative;
    width: 1000px;
    top: 50px;
    left: 330px;
    text-align: left;
}

.body-right {
    text-align: right;
}